@use 'custom' as *;

.headSection{
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
    border:0;
    z-index: 1;
    height:100vh;
    background:  linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));
}

.headSection .dog_canvas{
    position:absolute;
    overflow:hidden;
    // left: 46vw;
    bottom: 1px;
    z-index: 1;
}
.headSection .headline{
    top: 20vh;
    position:relative;
    color:$white;
    overflow:hidden;
    z-index: 500;
    padding-left: 9vw;
    text-shadow: 1px 3px 12px  rgba(63,107,169, 0.2);

}

.headSection .headline h1{
    font-weight: 600;
    font-size: 7vw;
    
}
.headSection .headline p{
    width:400px; 
    word-wrap: break-word;

    
}

.hide-element{
    display: none;   
}
.startButton{
    position: relative;
    padding: 0.2rem 1.05rem;
    font-weight: 500;
    width: 200px;
    padding:10px 0;
    margin-bottom: 10px;
    border: 0;
    background-color: $gray-100;
    // color: $primary;

    &:hover{
        // background:$primary;
        // color: $gray-100;
        // -webkit-box-shadow:inset 0px 0px 0px 1px $gray-100;
        // -moz-box-shadow:inset 0px 0px 0px 1px $gray-100;
        // box-shadow:inset 0px 0px 0px 1px $gray-100;
        transform: scale(1.07);
        transition: 0.3s;
        span{
            opacity: 1;
            transition: 0.3s;
        }
    }

    span{
        position: absolute;
        // opacity: 0;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);

        i{
            color: $white;
            font-size: 1rem;
            line-height: 2.5rem;
            left: 1px;
        }
    }
}

.appsButton{
    position: relative;

    font-weight: 500;
    width: 200px;
    padding:10px 0;
    padding-right: 22px;
    margin-bottom: 10px;
    border: 0;
    background-color: $gray-100;
    // color: $primary;

    &:hover{
        // background:$primary;
        // color: $gray-100;
        // -webkit-box-shadow:inset 0px 0px 0px 1px $gray-100;
        // -moz-box-shadow:inset 0px 0px 0px 1px $gray-100;
        // box-shadow:inset 0px 0px 0px 1px $gray-100;
        transform: scale(1.07);
        transition: 0.3s;
        span{
            opacity: 1;
            transition: 0.3s;
        }
    }

    span{
        position: absolute;
        // opacity: 0;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);

        i{
            color: $white;
            font-size: 1rem;
            line-height: 2.5rem;
            left: 1px;
        }
    }
}

@media (max-width: 600px) {
    .headSection{
        height: 130vh;
    }
    .headSection .dog_canvas{
        position: static;
    }
    .headSection .headline{
        text-shadow: 1px 3px 12px  rgba(63,107,169, 0.2);
        z-index: 3;
        
    }
    .headSection .headline p{
        width:300px; 
        word-wrap: break-word;
    }
}

@media (max-width: 600px) {
    .headSection{
        height: 130vh;
    }
}

.loginHeadSection{
    color: $gray-100 !important;
}
