@use 'custom' as *;

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chartWrapper {
    position: relative;
    box-shadow: inset 0 0 5px rgba($gray-500,0.2); 
    background-color: $gray-100;
    border-radius: 10px;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
.chartAreaWrapper {
    overflow-x: scroll;
    position: relative;
    width: 100%;
}

.chartAreaWrapper2 {
    position: relative;
    height: 300px;
}
