@use 'custom' as *;

#signupPage{
    position: fixed;
    z-index: 100000;
}

.btn-signup{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 50px;
    font-weight: 600;

}
.modal-header{
    border:0;
    display:inline;
    p{
        margin-top:15px;
    }
}
.index-alert{
    margin-left: 10px;
    margin-right: 10px;
}