@use "custom" as *;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-image: linear-gradient(to top, $secondary 0%, $primary 100%);
}

.chartWrapper ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba($gray-500,0.2); 
  background: rgba($gray-500,0.2);
  border-radius: 10px;
}


